@import '../../common/constants/styleVariables';

.addTodoForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.addTodoInputLabel {
  color: $add-todo-subtext-colour;
  flex-basis: 100%;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: $triple-spacing;
}

.addTodoInput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex-basis: 80%;
}

.addTodoSubmit {
  background-color: $add-todo-button-background;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $add-todo-button-text-colour;
  flex-basis: 20%;
  margin-left: -1px;
}
