@import '../../common/constants/styleVariables';

.addTodoForm {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

.addTodoInputLabel {
  display: none;
}

.addTodoInput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex-basis: 80%;
}

.addTodoSubmit {
  background-color: $add-todo-button-background;
  border-color: $add-todo-button-background;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $add-todo-button-colour;
  flex-basis: 20%;
  margin-left: -1px;
}
