@import '~normalize.css/normalize';
@import '../common/constants/styleVariables';

body {
  background: linear-gradient(135deg, $body-background-gradient-1 0%, $body-background-gradient-1 50%, $body-background-gradient-2 100%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

main {
  background-color: $main-background;
  margin: 0 auto;

  @media screen and (min-width: $tablet-landscape) {
    margin: 0 auto;
    max-width: 600px;
  }

  &:after {
    content: '';
    background-color: #003f71;
    display: block;
    height: $triple-spacing;
  }
}

button,
input {
  border: 0;
  border-radius: 3px;
  padding: $double-spacing;
}

button{
  background: transparent;
}
