// Colours
$todo-list-borders: #CCC;
$todo-hover: #f9f9f9;

$button-border: #CCC;

$add-todo-button-background: #333;
$add-todo-button-colour: #FFF;

// Breakpoints
$mobile: 320px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
